<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet"
	href="https://bootswatch.com/4/pulse/bootstrap.css" media="screen">
<link rel="stylesheet"
	href="https://bootswatch.com/4/pulse/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>


<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body ng-app="myApp" ng-controller="myController">

	<div class="bs-docs-section clearfix">
		<div class="row">
			<div class="col-lg-12">


				<div class="bs-component">
					<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
						<a class="navbar-brand" href="#">Employee Navigation</a>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarColor01"
							aria-controls="navbarColor01" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarColor01">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item active"><a class="nav-link" href="#">Home<span
										class="sr-only">(current)</span></a></li>
								<li class="nav-item"><a class="nav-link" href="getEmp">JSON
										Data</a></li>
							</ul>
							<form class="form-inline my-2 my-lg-0">
								<input class="form-control mr-sm-2" type="text"
									placeholder="Search">
								<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
					</nav>
				</div>

			</div>
		</div>
	</div>

	<div class="container" align="center">
		<div class="row">
			<div class="col-lg-6">
				<div class="bs-component">

					<fieldset>
						<legend>Employee Registration Form</legend>

						<div class="form-group" align="center">
							<label for="exampleInputEmail1">Employee ID</label> <input
								type="number" class="form-control" size="10" maxlength="7"
								placeholder="Enter EmployeeID" ng-model="empDetail.empId"
								required /> <small id="nameHelp" class="form-text text-muted">We'll
								never share your employee ID with anyone else.</small>

						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">First Name</label> <input
								type="text" class="form-control" size="20" maxlength="20"
								placeholder="Enter FirstName" ng-model="empDetail.firstName"
								required />

						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Last Name</label> <input
								type="text" class="form-control" size="20" maxlength="20"
								placeholder="Enter LastName" ng-model="empDetail.lastName"
								/ required>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Designation</label> <input
								type="text" class="form-control" size="20" maxlength="20"
								placeholder="Enter Designation" ng-model="empDetail.designation"
								required />
						</div>
						<button type="submit" class="btn btn-primary"
							ng-click="updatetoserver(empDetail)">Add Employee</button>
					</fieldset>

				</div>
			</div>

			<div class="col-lg-4 offset-lg-1">
				<div class="col-lg-1">
					<div class="bs-component">
						<div class="container" alighn="center">

							<table class="table table-hover">
								<thead>
									<tr class="table-danger">
										<th scope="col">ID</th>
										<th scope="col">First Name</th>
										<th scope="col">Last Name</th>
										<th scope="col">Designation</th>
									</tr>
								</thead>
								<tbody>
									<tr class="table-info" ng-repeat="employee in emp">
										<td>{{employee.empId}}</td>
										<td>{{employee.firstName}}</td>
										<td>{{employee.lastName}}</td>
										<td>{{employee.designation}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>





	<script>
		var app = angular.module("myApp", []);
		app.controller("myController", function($scope, $http) {
			$http.get("getEmp").then(function(response) {
				$scope.emp = eval(response.data);
				console.log(response.data);
			});
			$scope.updatetoserver = function(empDetail) {
				console.log(empDetail.empId, empDetail.firstName,
						empDetail.lastName, empDetail.designation);
				$http.post("insertEmp", JSON.stringify(empDetail)).then(
						function(response) {
							if (response.data) {
								console.log(response.data);
								$scope.emp = eval(response.data);
							}

						}, function(response) {
							Console.log("Service not Exists");
							Console.log(response.status);
							console.log(response.statusText);

						});
				$scope.empId = "";
				$scope.firstName = "";
				$scope.lastName = "";
				$scope.designation = "";
				$http.get("getEmp").then(function(response) {
					$scope.emp = eval(response.data);
					console.log(response.data)
				});
			}
		});
	</script>
</body>
</html>